<md-card>
    <md-card-title class="flex-container"
                   fxLayout="row"
                   fxLayoutAlign="space-between center">

        <!-- Character name -->
        <strong class="character-name" title="{{ character.name }}"> {{ character.name }} </strong>

        <!-- Admin actions -->
        <div *ngIf="isAdmin" class="flex-container"
             fxLayout="row"
             fxLayoutAlign="start center">
            <button md-icon-button title="{{ 'ADMIN.EDIT' | translate }}" (click)="onEdit()"><i class="material-icons">&#xE254;</i></button>
            <button md-icon-button title="{{ 'ADMIN.DELETE' | translate }}" (click)="onDelete()"><i class="material-icons">&#xE872;</i></button>
        </div>

        <!-- Character energy -->
        <div class="flex-container"
             fxLayout="row"
             fxLayoutAlign="end center">
            <i title="{{ 'DB_CARDS.ENERGY' | translate }}"  class="material-icons energy-icon">&#xE3E7;</i>
            <div title="{{ character.energy }} / {{ character.maxEnergy }}"> {{ character.energy }}</div>
        </div>
    </md-card-title>

    <md-card-content class="card-img flex-container"
                     fxLayout="row"
                     fxLayoutAlign="center center">
        <!-- Character picture -->
        <img alt="{{ character.name }}" src="{{ character.picture }}" />
    </md-card-content>

    <md-card-actions [ngClass]="{'dbz-bg' : character.type === cardTypes.Z,
                                 'dbgt-bg': character.type === cardTypes.GT,
                                 'db-bg'  : character.type === cardTypes.DB}">
        <button *ngFor="let attack of character.attacks ; index as i;"
                (click)="onAttack(attack)"
                class="flex-container"
                fxLayout="row"
                fxLayoutAlign="start start">
            <span style="text-align: left;" class="flex-item" fxFlex="75%">{{ attack.name }}</span>
            <span class="flex-item" fxFlex="25%">{{ attack.damage }}</span>
        </button>
    </md-card-actions>
</md-card>