@import '../../../colors.scss';

md-card {
  transition: transform .5s ease-in-out;
  max-width: 200px;
  min-width: 200px;
  user-select: none;
  cursor: default;
  .character-name {
    @extend .truncate;
    min-width: 60px;
  }
  .energy-icon {
    color: $gold;
  }
  .card-img {
    text-align: center;
    height: 175px;
    margin-bottom: 0;
  }
  &:hover {
    @extend .selected;
  }
  md-card-actions {
    button {
      background-color: transparent;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      width: 100%;
      outline: none;
      span:first-child {
        text-align: left;
      }
      span:last-child {
        text-align: right;
      }
      &:hover {
        color: $blue;
      }
    }
  }
  .dbz-bg {
    background: url('../../../assets/img/cards/common/card-bg-z.png') 50% no-repeat;
  }
  .dbgt-bg {
    background: url('../../../assets/img/cards/common/card-bg-gt.png') 50% no-repeat;
  }
  .db-bg {
    background: url('../../../assets/img/cards/common/card-bg-db.png') 50% no-repeat;
  }
}

.selected {
  transform: scale(1.1);
  animation: blue-glow 1.5s ease-in-out infinite alternate;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}