
<!-- Dialog title -->
<h1 *ngIf="isCreating" translate="ADMIN.CREATE"></h1>
<h1 *ngIf="!isCreating" translate="ADMIN.EDIT"></h1>

<!-- Card form -->
<form [formGroup]="cardForm" (ngSubmit)="onSubmitForm()">

    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="space-between start">

        <!-- Name -->
        <md-input-container>
            <label for="card-name" translate="ADMIN.NAME"></label>
            <input id="card-name" formControlName="cardName"
                   (keyup)="onChangeCardName()"
                   mdInput min="2"/>
        </md-input-container>

        <!-- Type -->
        <md-select formControlName="cardType" placeholder="{{ 'ADMIN.SERIES' | translate }}" (change)="onChangeCardType()">
            <md-option [value]="cardTypes.DB">{{ 'ADMIN.DB' | translate }}</md-option>
            <md-option [value]="cardTypes.Z">{{ 'ADMIN.Z' | translate }}</md-option>
            <md-option [value]="cardTypes.GT">{{ 'ADMIN.GT' | translate }}</md-option>
        </md-select>

        <!-- Energy -->
        <md-input-container>
            <label for="card-energy" translate="ADMIN.ENERGY"></label>
            <input id="card-energy" min="0" type="number" formControlName="cardEnergy" mdInput (keyup)="onChangeCardEnergy()"/>
        </md-input-container>
    </div>

    <div class="flex-container"
         fxLayout="column"
         fxLayoutAlign="center center">

        <!-- Picture -->
        <div class="card-picture-container">
            <label for="card-picture" title="{{ 'ADMIN.PICTURE' | translate }}" class="card-picture-label">
                <i *ngIf="!imgPreview" class="material-icons">&#xE851;</i>
                <!-- Picture preview -->
                <img *ngIf="!!imgPreview" src="{{ imgPreview }}">
            </label>
            <input hidden id="card-picture" type="file" accept="image/*" (change)="onChangeCardPicture($event)"/>
        </div>
    </div>

    <div class="flex-container"
         fxLayout="column"
         fxLayoutAlign="start start"
         [ngClass]="{'dbz-bg' : character.type === cardTypes.Z,
                     'dbgt-bg': character.type === cardTypes.GT,
                     'db-bg'  : character.type === cardTypes.DB}">

        <!-- Attacks -->
        <div formArrayName="cardAttacks"
             class="flex-container"
             fxLayout="column"
             fxLayoutAlign="start start">
            <md-input-container  *ngFor="let attack of cardForm.get('cardAttacks').controls; let i=index" [formGroupName]="i">
                <label for="card-attack-{{i+1}}">{{ 'ADMIN.ATTACK' | translate }} {{ i+1 }}</label>
                <input id="card-attack-{{i+1}}" formControlName="attack" mdInput (keyup)="onChangeCardAttack()"/>
            </md-input-container>
        </div>

        <!-- Extra Attack -->
        <div class="flex-container"
             fxLayout="row"
             fxLayoutAlign="start center">

            <!-- Has extra attack checkbox -->
            <md-checkbox formControlName="hasExtraAttack" title="{{ 'ADMIN.ATTACK' | translate }}  {{ 'ADMIN.EXTRA' | translate | lowercase }}"></md-checkbox>
            <md-input-container>
                <label for="card-attack-extra">{{ 'ADMIN.ATTACK' | translate }} {{ 'ADMIN.EXTRA' | translate | lowercase }}</label>
                <input id="card-attack-extra" formControlName="cardAttackExtra" mdInput/>
            </md-input-container>
            <button *ngIf="cardForm.controls.hasExtraAttack.value" md-icon-button (click)="onCancelExtraAttack()"><i class="material-icons">&#xE5CD;</i></button>
        </div>
    </div>

    <!-- Dialog controls -->
    <div class="flex-container"
         fxLayout="row"
         fxLayoutAlign="end center">
        <button md-button type="button" (click)="dialogRef.close(false)">{{ 'DIALOG.CANCEL' | translate }}</button>
        <button md-button [disabled]="!cardForm.valid">{{ 'DIALOG.OK' | translate }}</button>
    </div>
</form>