<div class="menu-img">
    <img src="../../assets/img/face/{{faceClass}}.jpg" (click)="onFace()"/>
</div>
<md-nav-list [@visibilityChanged]="openMenu">
    <md-list-item [routerLink]="['/app/who']">
        <span translate="MENU.WHO"></span>
    </md-list-item>
    <md-list-item [routerLink]="['/app/what']">
        <span translate="MENU.WHAT"></span>
    </md-list-item>
    <md-list-item [routerLink]="['/app/why']">
        <span translate="MENU.WHY"></span>
    </md-list-item>
    <md-list-item [routerLink]="['/app/where']">
        <span translate="MENU.WHERE"></span>
    </md-list-item>
    <md-list-item [routerLink]="['/dbcards']">
        <span translate="MENU.DB_CARDS"></span>
    </md-list-item>
</md-nav-list>
