<div class="menu-img">
    <img src="../../assets/img/face/{{faceClass}}.jpg" (click)="onFace()"/>
</div>
<md-nav-list>
    <md-list-item [routerLink]="['/app/who']" (click)="onRoute()">
        <span translate="WHO.HEADER"></span>
    </md-list-item>
    <md-list-item [routerLink]="['/app/what']" (click)="onRoute()">
        <span translate="WHAT.HEADER"></span>
    </md-list-item>
    <md-list-item [routerLink]="['/app/why']" (click)="onRoute()">
        <span translate="WHY.HEADER"></span>
    </md-list-item>
    <md-list-item [routerLink]="['/app/where']" (click)="onRoute()">
        <span translate="WHERE.HEADER"></span>
    </md-list-item>
    <md-list-item [routerLink]="['/dbcards']" (click)="onRoute()">
        <span translate="DB_CARDS.HEADER"></span>
    </md-list-item>
</md-nav-list>
