@import '../colors.scss';

.mat-sidenav-container{
  background-color: transparent;
  height: 100%;
}

.sidenav-open {
  margin-bottom: -30px;
  &:hover {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

.mat-sidenav {
  background-color: $blue;
  width: 200px;
  form {
    margin: 20px;
    color: $white;
  }
}
