<md-sidenav-container>
    <md-sidenav #sidenav>
        <app-menu (menuEvent)="handleMenuEvent($event)"></app-menu>
        <form>
            <!-- Language -->
            <md-select [(ngModel)]="currentLang" name="language" placeholder="{{ 'LANGUAGE' | translate }}" (change)="onChangeLanguage()">
                <md-option [value]="lang.CA">{{ lang.CA | uppercase }}</md-option>
                <md-option [value]="lang.EN">{{ lang.EN | uppercase }}</md-option>
            </md-select>
        </form>
    </md-sidenav>

    <div class="flex-container"
         fxLayout="column"
         fxLayoutAlign="center center">
        <button class="sidenav-open" md-icon-button (click)="sidenav.open()">
            <img src="./../favicon.ico"/>
        </button>
        <router-outlet class="right-element"></router-outlet>
    </div>

</md-sidenav-container>
