<h1>Dragon Ball Cards App</h1>

<md-card>

    <md-card-title>
        <div> Cor Petit </div>
        <div>
            <i class="material-icons">&#xE3E7;</i>
            <div> 2000 </div>
        </div>
    </md-card-title>
    <md-card-content>
        <img src="../../assets/img/cards/cor_petit/cor_petit.jpg" />
    </md-card-content>
    <md-card-actions>
        <button md-button> Raig malèfic </button>
        <button md-button> Combo 80 </button>
        <button md-button> Gegant </button>
    </md-card-actions>

</md-card>