@import '../../../colors.scss';

:host {
  margin: 0 10px;
  padding: 10px;
  background-color: $white-opacity;
  color: $white;
  width: 99%;
}

.card {
  padding: 20px;
}

.new-card {
  width: 240px;
  min-width: 240px;
  margin: 20px;
  height: 370px;
  border: 10px dashed $white-opacity;
  color: $white-opacity;
  i {
    font-size: 96px;
  }
  &:hover {
    border-color: $white;
    color: $white;
  }
}

.search-form {
  margin: 20px 0;
}