<h1 translate="ADMIN.HEADER"></h1>

<md-tab-group>
    <md-tab label="{{ 'ADMIN.CHARACTERS' | translate }}">
        <!-- Search -->
        <form *ngIf="characters.length > 0"
              [formGroup]="searchForm"
              class="flex-container search-form"
              fxLayout="row"
              fxLayoutAlign="start start">
            <md-input-container>
                <label for="card-search" translate="ADMIN.SEARCH"></label>
                <input id="card-search"
                       mdInput
                       formControlName="searchInput"
                       (keyup)="onSearchCard()"/>
            </md-input-container>
        </form>

        <div class="flex-container"
             fxLayout="row"
             fxLayoutAlign="start center">

            <!-- Create card -->
            <button md-button class="new-card" (click)="onOpenCardDialog(true)" title="{{ 'ADMIN.NEW' | translate }}">
                <i class="material-icons">&#xE145;</i>
            </button>

            <!-- Cards list -->
            <app-card *ngFor="let character of charactersList; index as i;" [character]="character" [isAdmin]="true" (cardEvent)="handleCardEvent($event)" class="card"></app-card>

            <!-- No cards feedback -->
            <p *ngIf="characters.length <= 0" translate="ADMIN.NO_CARDS"></p>
        </div>
    </md-tab>
    <md-tab label="{{ 'ADMIN.SKILLS' | translate }}">

        <div class="flex-container"
             fxLayout="row"
             fxLayoutAlign="start center">

            <!-- Cards list -->
            <app-card *ngFor="let skill of skills; index as i;" [skill]="skill" [isAdmin]="true" (cardEvent)="handleCardEvent($event)" class="card"></app-card>
        </div>

        <!-- No cards feedback -->
        <p *ngIf="skills.length <= 0" translate="ADMIN.NO_CARDS"></p>
    </md-tab>
</md-tab-group>